﻿@page
@model WebApplication4.Controllers.ProductModel

@{
    ViewData["Title"] = "Customer";
}

<h1>Customer</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Email" class="control-label"></label>
                <input asp-for="Product.Email" class="form-control" type="email"/>
                <span asp-validation-for="Product.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Phone" class="control-label"></label>
                <input asp-for="Product.Phone" class="form-control" type="tel"/>
                <span asp-validation-for="Product.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-page="Index">Back</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
