﻿@page
@model WebApplication4.Pages.ProductDetaisModel

@{
    ViewData["Title"] = "ProductDetais";
}

<h1>ProductDetais</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
