@font-face {
    font-family: 'Spicy Rice', cursive;
    src: url("SpicyRice.ttf") format("truetype");
}

#showdowing {
    text-shadow: 1px 2px 2px #505050 ;
}

#border_radius {
    -webkit-border-radius: 6px;
    -webkit-border-top-left-radius: 25px;
    -moz-border-radius: 6px;
    -moz-border-radius-topleft: 25px;
    border-radius: 6px;
    border-top-left-radius: 25px;

    height: 100px;
    width: 300px;
    padding: 10px;
    color: #f26c4f;
}

#colors {
    background-color: rgba(133, 133, 133);
    /*background-color: hsla(0, 60%, 80%, 60%);*/

    height: 100px;
    width: 300px;
    padding: 10px;
    margin: 10px;
}
#colors2 {
    /*background-color: rgba(133, 133, 133);*/
    background-color: hsla(0, 60%, 80%, 60%);

    height: 100px;
    width: 300px;
    padding: 10px;
    margin: 10px;

    box-shadow: 3px -3px 3px #de5f44;
}

#gradient {
    background: rgba(239,197,202,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 36%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(239,197,202,1)), color-stop(36%, rgba(210,75,90,1)), color-stop(51%, rgba(186,39,55,1)), color-stop(100%, rgba(241,142,153,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 36%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 36%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 36%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
    background: radial-gradient(ellipse at center, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 36%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);

    height: 100px;
    width: 300px;
    padding: 10px;
    margin: 10px;
}

body {
    background: rgba(212,228,239,1);
    background: -moz-linear-gradient(45deg, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 38%, rgba(134,174,204,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(38%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
    background: -webkit-linear-gradient(45deg, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 38%, rgba(134,174,204,1) 100%);
    background: -o-linear-gradient(45deg, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 38%, rgba(134,174,204,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 38%, rgba(134,174,204,1) 100%);
    background: linear-gradient(45deg, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 38%, rgba(134,174,204,1) 100%);
}

div#animation {
    width: 100px;
    height: 100px;
    background-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    position: relative;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

#super-font {
    margin-top: 200px;
    height: 100px;
    font-family: 'Spicy Rice', cursive;
}

#transform {
    position: relative;
    height: 256px;
    width: 256px;
    margin: auto;
}
#transform img {
    position: absolute;
    left: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
#transform img.top {
    -webkit-transform:scale(0,0);
    -moz-transform:scale(0,0);
    -o-transform:scale(0,0);
    transform:scale(0,0);
    opacity:0;
}
#transform:hover img.top, #transform.hover_effect img.top {
    opacity:1;
    -webkit-transform:scale(1,1);
    -webkit-transform-origin: top right;
    -moz-transform:scale(1,1);
    -moz-transform-origin: top right;
    -o-transform:scale(1,1);
    -o-transform-origin: top right;
    transform:scale(1,1);
    transform-origin: top right;
}
#transform:hover img.bottom, #transform.hover_effect img.bottom {
    -webkit-transform:scale(0,0);
    -webkit-transform-origin: bottom left;
    -moz-transform:scale(0,0);
    -moz-transform-origin: bottom left;
    -o-transform:scale(0,0);
    -o-transform-origin: bottom left;
    transform:scale(0,0);
    transform-origin: bottom left;
}

#border {
    border: 10px solid transparent;
    padding: 15px;
    width: 150px;
    height: 150px;
    -webkit-transition: width 3s, height 3s;
    transition: width 3s, height 3s;
    -webkit-border-image: url("../static/img/border.png") round; /* Safari 3.1-5 */
    -o-border-image: url("../static/img/border.png") round; /* Opera 11-12.1 */
    border-image: url("../static/img/border.png") round;
    border-image-slice: 33%;
    border-image-repeat: stretch;
    background-color: red;
}

#border:hover {
    width: 200px;
    height: 200px;
}


.flexbox {
width: 600px;
height: 420px;
margin: auto;
display: -webkit-flex;
display: flex;
    flex-direction: row;
}

.flexbox > div {
    flex: auto;
    width: 200px;
-webkit-transition: 1s ease-out;
transition: 1s ease-out;
-webkit-border-radius: 10px;
border-radius: 10px;
border: 2px solid black;
margin: 10px -10px 10px 0px;
padding: 20px 20px 20px 20px;
}

.flexbox > div {
    background-color: lightgrey;
}

.flexbox > div:hover {
    width: 250px;
    color: white;
    font-weight: bold;
}
.flexbox > div:nth-child(1):hover { background-color: royalblue; }
.flexbox > div:nth-child(2):hover { background-color: crimson; }
.flexbox > div:nth-child(3):hover { background-color: crimson; }
.flexbox > div:nth-child(4):hover { background-color: darkgreen; }


div#columnr {
    height: 300px;
}
div#columnr > div {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;

    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;

    -webkit-column-rule: 4px outset #ff00ff;
    -moz-column-rule: 4px outset #ff00ff;
    column-rule: 4px outset #ff00ff;
}

@media handheld and (max-width: 480px),
    screen and (max-device-width: 480px),
    screen and (max-width: 480px)
{
    div#columnr > div {
        webkit-column-count: 1;
        column-count: 1; }
}

@media only screen and (min-width: 481px) and (max-width: 1024px)
{
    div#columnr > div {
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 30px;
        column-gap: 30px;
        -webkit-column-rule: 1px outset black;
        column-rule: 1px outset black; }
}

#transform2 {
    margin-left: 200px;
    transform: skew(15deg, -1deg);
}