html,
body {
    background-color: #303030;
    color: #ffffff;
    font-size: 20px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

header {
    width: 100%;
    padding: 0;
}
nav {

}
nav ul {
    width: 100%;
    background-color: burlywood;
    list-style: none;
}
nav ul>li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    height: 30px;
    width: 150px;
}
nav ul>li>a {
    padding: 10px;
    color: #444;
    text-decoration: none;
    display: block;
    background-color: burlywood;
    text-align: center;
}
nav ul>li ul {
    padding: 0;
    position: absolute;
    display: none;
    left: 0;
    top: 42px;
    width: 150px;
    text-align: center;
    background-color: #fcfcfc;
    border: 5px solid #cccccc
}
nav ul>li ul ul {
    left: 150px;
    top: -1px;
}
nav ul>li ul li {
    margin: 0;
    padding: 0;
    position: relative;
    float: none;
    height: auto;
}
nav ul>li ul li a {
    padding: 10px 20px;
    color: #505050;
    text-decoration: none;
    display: block;
}
nav ul>li>a:hover,
nav ul>li:hover>a {
    color: #de5f44;
    text-decoration: none;
}
nav ul>li ul li a:hover,
nav ul>li ul li:hover>a{
    text-decoration: none;
    color: #ffffff;
    background-color: #f26c4f;
}
nav ul li:hover>ul {
    display: block;
}
section {
    width: 960px;
    font-size: 0.8em;
    color: #222222;
    background-color: #eeeeee;
    padding: 1px 20px;
}
article {

}
article>section {
    width: 960px;
    background-color: grey;
    color: #eeeeee;
    padding: 0;
}
.bg_origin {
    border: 10px double black;
    padding: 25px;
    background: url(../static/img/paper.jpg);
    background-repeat: no-repeat;
    background-origin: padding-box;/*border-box*/
}

#em-test {
    margin-left: 20em;
}
#px-test {
    margin-left: 20px;
}
#pt-test {
    margin-left: 20pt;
}
#percent-test {
    margin-left: 20%;
}

.comment input {
    background-color: #dddddd;
    width: 200px;
    height: 20px;
}
.comment {
    width: 350px;
    height: 500px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    font-size: 15px;
    color: #3F3B3B;
    box-shadow: 3px 3px 30px 5px rgba(200,54,54,0.8);
}
#clasification,
#clasification table {
    background-color: #404040;
    width: 100%;
    border-collapse: collapse;
}
#clasification,
#clasification table, 
#clasification td, 
#clasification th {
    border: 1px solid grey;
}
#clasification th,
#clasification td {
    text-align: center;
    padding: 5px;
}
#clasification thead tr th:hover {
    background-color: grey;
    color: #303030;
}
#clasification tbody tr:nth-child(even){
    /*  even - even elements tr
        odd - odd elements tr*/
    background-color: #303030;
}

#dinobgi {
    background-image: url(wallpaper.jpg);
    background-position: center; /*sets the starting position of a background image*/
    background-repeat: repeat-y;
    /*background: url(wallpaper.jpg) no-repeat 100% 100%;*/
    /*background-attachment: fixed;!*image don't move during the scrolling*!*/
    font-family: Arial;
}
#dinobgi input {
    font-variant: small-caps;/*Small caps lock*/
    font-weight: bold ;/*sets how thick or thin characters in text should be displayed. 100-900 level. 400-normal 700-bold*/
    line-height: 2;/*Distance between the lines of text*/
}
#dinobgi h1 {
    border-width: 5px;
    border-style: solid;
    border-color: red;
}
#dinobgi h1:active {/*when click change color*/
    color: black;
}
p[class*=A01] {
    color: red;
    clear: both;/*don't show text on the right and left side*/
}
#dinobgi img {
    float: left;/*imagine on left side*/
}
input:disabled,  /*element that can be changed by the user set background*/
input:focus {
    background-color: red;/*when focus or autofocus on input set background*/
}
input:enabled { /*element that can be changed by the user set background*/
    background-color: green;
}
input:checked { /*if checked draw red points-frame*/
    outline: 2px dotted blue;
}
input[type=text]:empty {
    background-color: darkgrey;
}
input:required {
    background-color: pink;
}
a:visited,  /*visited - visited hiperlink. link - don't visited hiperlink*/
a:link {
    color: red;
}

@media only screen and (max-width: 800px) {
    html,
    body {
       font-size: 15px;
       width: 50%;
    }
    #clasification th,
    #clasification td {
        padding: 1px;
    }
}

@media print {
    * {
        background-color: white;
    }
}

footer {

}

nav a:hover, nav a:visited, nav a:link {
    color: black;
}